body {
    background-color: rgb(191, 237, 182);
}

/* .newList {
    display: flex;
    flex-wrap: wrap;
    margin: 4px 
} */

.list {
    list-style: none;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}


img {
    width: 40px;
}

.character {
    background-color: rgba(255, 255, 255, 0.509);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    width: 40vh;
    padding: 5px;
    margin: 10px;
}

.detail {
    background-color: rgba(255, 255, 255, 0.509);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detailPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
    background: rgba(255, 255, 255, 0.612);
}